{% extends 'index.html' %}

{% block header %}
{% endblock %}


{% block css %}
    .art{
        height:600px;
        margin-top:120px;
    margin-left:20px;
    }
    .head{
    height:100px;
    text-align:center;
    margin-top:120px;
    }

{% endblock %}


{% block content %}
<div class="art">
    <div class="head">
        <h1>Community elegance</h1>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/static/images/people/1.jpg" style="width:340px;height: 220px;"
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>冬至饺子宴</h3>
                <p style="height: 70px;">冬至过节是汉族传统节日之一，通过进行饺子宴活动可以让离家的人感受家的温暖，并且可以提高大家的凝聚力和团结力</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        点击进入了解更多
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/static/images/art/basketball.jpg" style="width:340px;height: 220px;"
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>篮球运动会</h3>
                <p style="height: 70px;">篮球运动让很多男孩热血沸腾，通过运动不仅能强身健体，还能体现球场上的相互配合和合作共赢</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        点击进入了解更多
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/static/images/people/1.jpg" style="width:340px;height: 220px;"
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>学习风气</h3>
                <p style="height: 70px;">一些示例文本。一些示例文本。</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        点击进入了解更多
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="/static/images/people/1.jpg" style="width:340px;height: 220px;"
            alt="通用的占位符缩略图">
            <div class="caption">
                <h3>比赛风采</h3>
                <p style="height: 70px;">一些示例文本。一些示例文本。</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        点击进入了解更多
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block js %}

{% endblock %}